.hero { margin-top: 4rem; margin-bottom: 3rem; }

.title {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 0 0.5rem 2rem;
    color: #e2f3ff;
}

.subTitle {
    font-size: 1.5rem;
    max-width: 600px;
    margin-left: 2rem;
    color: #a0bcd8;
    margin-bottom: 2rem;
}

.ctaBtn {
    margin: 0 0 0 2rem;
}